* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 2%;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
}

.calculator {
    height: auto;
    width: 600px;
    background-color: lightblue;
    border-radius: 20px;
    margin-top: 20px;
    padding: 30px;
    border: 3px solid;
}

.screen{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: white;
    height: auto;
    border-radius: 10px;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
}

.screenButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.screenButtons button {
    height: 50px;
    width: 200px;
    margin: 10px;
    border-radius: 5px;
}

.input {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.input button {
    height: 70px;
    margin: 10px;
    border-radius: 5px;
}